.loading_wrapper{
width: 800px;
height:650px;
display: flex;
align-items: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
margin-top: auto;
transform: rotate(180 degree);
margin-bottom: auto;
background-image:radial-gradient(rgb(18, 18, 51),rgb(21, 14, 144),grey,rgb(59, 59, 212));
border-radius: 30%;
}
.animated_loading{
    width: 250px;
    height: 200px;
    border-radius: 50%;
    }
